<div class="d-flex justify-content-center mx-5 flex-column gap-2">
  <div class="banner w-100 px-3 py-4 text-white bg-dark fw-semi-bold fs-20px">
    Discover Latest Courses on Angular
  </div>

  <div class="d-flex w-100 justify-content-between align-items-center">
    <div class="d-flex justify-content-between w-75 px-2">
      <div>All Courses</div>
      <div class="dropdown border border-dark rounded">
        <a
          class="btn btn-secondary btn-sm dropdown-toggle"
          (click)="toggleDropdown($event)"
          href="#"
          role="button"
        >
          Course Price
        </a>

        <div class="dropdown-menu d-block" *ngIf="isDropdownVisible">
          <button
            [ngClass]="{ active: selectedSortOrder === SortOrder.ASC }"
            class="dropdown-item"
            (click)="changeSortOrder(SortOrder.ASC)"
          >
            Low to High
          </button>
          <div class="dropdown-divider"></div>
          <button
            [ngClass]="{ active: selectedSortOrder === SortOrder.DESC }"
            class="dropdown-item"
            (click)="changeSortOrder(SortOrder.DESC)"
          >
            High to Low
          </button>
        </div>
      </div>
    </div>
    <div class="input-group w-25 d-flex justify-content-end">
      <div class="form-outline w-75">
        <input
          [(ngModel)]="searchFilter"
          type="search"
          placeholder="Search here"
          class="form-control form-control-sm bg-light-blue"
        />
      </div>
      <button type="button" class="btn btn-primary btn-sm">
        <img src="./assets/images/icons/search.svg" alt="" />
      </button>
    </div>
  </div>
  <div class="d-flex justify-content-between align-items-stretch gap-2">
    <div class="w-75">
      <app-course-card-list
        [courses]="courses"
        [searchFilter]="searchFilter"
        [sortOrder]="selectedSortOrder"
      ></app-course-card-list>
    </div>
    <div class="w-25 position-sticky align-self-start sticky-top">
      <app-cart-widget></app-cart-widget>
    </div>
  </div>
</div>
