<div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-light-blue">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeMe()"
        ></button>
      </div>
      <div class="modal-body text-center">
        <p
          class="d-flex align-items-center justify-content-center gap-2 fw-semi-bold text-dark"
        >
          <span>
            <img
              src="./assets/images/icons/success.svg"
              alt="Success Icon"
              *ngIf="modalType === ModalTypes.SUCCESS"
            />
            <img
              src="./assets/images/icons/error.svg"
              alt="Success Icon"
              *ngIf="modalType === ModalTypes.ERROR"
            />
          </span>
          {{ title }}
        </p>
        <p class="text-muted fw-lighter">{{ subTitle }}</p>

        <button
          type="button"
          class="btn btn-primary text-white w-25"
          *ngIf="showConfirmButton"
          (click)="closeMe()"
        >
          OK
        </button>
      </div>
    </div>
  </div>
</div>
