/* You can add global styles to this file, and also import other style files */

$theme-colors: (
  'primary': #ff6738,
  'dark': #080808,
  'light-blue': #eff2ff,
  'primary-dark': #e25b32,
  'green': #629a33
);

$position-values: (
  10: 10%,
  15: 15%
);

.fw-semi-bold {
  font-weight: 600 !important;
}

.fw-medium {
  font-weight: 500 !important;
}

.fs-18px {
  font-size: 1.125rem;
}

.fs-30px {
  font-size: 1.875rem;
}

.fs-20px {
  font-size: 1.25rem;
}

.fs-24px {
  font-size: 1.5rem;
}

@import '../node_modules/bootstrap/scss/bootstrap';

body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}
